<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @*<img src="~/image/Logo MG 3.png"   />*@
        Meme Generator - Meme Creator - Make a Meme Online
    </title>
    <link rel="icon" href="~/image/Logo MG 3.png" type="image/icon type" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .header {
            font-size: 44px;
            padding-left: 4px;
        }
    </style>
</head>
<body>
    
        @RenderBody()
        

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
