@{
    ViewBag.Title = "Contact";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="(Memes-generator.net is the first online meme generator. Browse the most popular memes on the internet, create your own meme or caption your favorite character. Export your meme directly as JPG or MP4. Fast, online, and powerful, Generator lets you make memes perfectly, every time.)" />
    <title>Meme Generator - Meme Creator - Make a Meme Online</title>
    <link rel="icon" href="\image\Logo MG 3.png">
    <script defer src="~/fonts/fontawesome-all.js"></script>
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/fonts/stylesheet.css">
    <link rel="stylesheet" href="~/Content/css/Hover-master/css/hover-min.css">
    <link href="~/Content/css/aos.css" rel="stylesheet" />
    <link href="~/Content/css/animate.css" rel="stylesheet" />
</head>
<body>
    <main class=" wow fadeIn" style="visibility: visible;">
        <header>
            <div class="container">
                <nav>
                    <div class="logo item1">
                        <a href="@Url.Action("Index","Home")">
                            <!-- <img src="" alt=""> -->
                            <h1>Meme Generator</h1>
                        </a>
                    </div>
                    <ul class="nav_item item2">
                        <li><a href="@Url.Action("Index","Home")" class="hvr-shadow-radial">Home</a></li>
                        <li><a href="@Url.Action("About","Home")" class="hvr-shadow-radial">About</a></li>
                        @*<li><a href="@Url.Action("Contact","Home")" class="hvr-shadow-radial">contact us</a></li>*@
                    </ul>
                </nav>
                <div class="main-bar openbtn">
                    <div class="a1"></div>
                    <div class="b1"></div>
                    <div class="c1"></div>
                </div>

            </div>
        </header>

        <form action="@Url.Action("SubmitContact" ,"Home" )" method="post">
            <div class="container register-form">
                <div class="form">
                    <div class="note">
                        <p>Customer Enquiry Form</p>
                    </div>

                    <div class="form-content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name" class="form-control1">Customer name</label>
                                    <input type="text" class="form-control" name="customerName" placeholder="Your Name *" value="" />
                                </div>
                                <div class="form-group">
                                    <label for="mobile" class="form-control1">Mobile Number</label>
                                    <input type="text" class="form-control" name="customerMobile" id="text1" placeholder="Your Phone Number *" value="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="message" class="form-control1">Message</label>
                                    <input type="text" class="form-control" name="customerMessage" placeholder="Enter Your Message *" value="" />
                                </div>
                                <div class="form-group">
                                    <label for="email" class="form-control1">Email address </label>
                                    <input type="text" class="form-control" name="customerEmail" id="text2" placeholder="Enter Your Email *" value="" />
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btnSubmit" @*onclick="inputtxt(event)"*@>Submit</button>
                    </div>
                </div>
            </div>
        </form>



        <!-- sidebar---section -->
        <section id="mySidenav" class="sidenav">
            <div class="top-head">
                <h2> Meme Generator</h2>
                <a href="javascript:void(0)" class="closebtn">
                    <i class="fas fa-chevron-left"></i>
                    <!-- &times; -->
                </a>
            </div>
            <div class="side-item">
                <a href="@Url.Action("Index","Home")">meme templates</a>
                <a href="#">categories</a>
                <a href="@Url.Action("meme","Home")">open editor</a>
                <a href="#">log in</a>
                <a href="@Url.Action("PrivacyPolicy","Home")">Privacy Policy</a>
            </div>
        </section>
        <!-- sidebar----section---end-here -->
        <section class="middle_content">
            <div class="container">
                <h3>contact us page</h3>
            </div>
        </section>


        <!-- footer -->
        <footer>
            <div class="container">
                <div class="copy-right-wrapper">
                    <p>memes-generator.net © All Rights Reserved</p>
                </div>
            </div>
        </footer>
    </main>

    <!-- -script--section -->
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/images.js"></script>
    <script src="~/Scripts/js/meme.js"></script>
    <script src="~/Scripts/js/main.js"></script>
    <script src="~/Scripts/js/aos.js"></script>
    <script src="~/Scripts/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <script>
        AOS.init();
    </script>
</body>

</html>