@{
    ViewBag.Title = "Home Page";
}
@using MemeGenerator.Models
@model MemeGenerator.Models.File_list


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Memes-generator.net is the first online meme generator. Browse the most popular memes on the internet, create your own meme or caption your favorite character. Export your meme directly as JPG or MP4. Fast, online, and powerful, Generator lets you make memes perfectly, every time." />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meme Generator - Meme Creator - Make a Meme Online</title>
    <link rel="icon" href="\image\Logo MG 3.png">
    <script defer src="~/fonts/fontawesome-all.js"></script>
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/fonts/stylesheet.css">
    <link rel="stylesheet" href="~/Content/css/Hover-master/css/hover-min.css">
    <link href="~/Content/css/aos.css" rel="stylesheet" />
    <link href="~/Content/css/animate.css" rel="stylesheet" />

</head>
<body>
    <main class="wow fadeIn" style="visibility: visible;">
        <header>
            <div class="container">
                <nav>
                    <div class="logo item1">
                        <a href="@Url.Action("Index","Home")">
                            <!-- <img src="" alt=""> -->
                            <h1>Meme Generator</h1>
                        </a>
                    </div>
                    <ul class="nav_item item2">
                        <li><a href="@Url.Action("Index","Home")" class="hvr-shadow-radial">Home</a></li>
                        <li><a href="@Url.Action("About","Home")" class="hvr-shadow-radial">About</a></li>
                        <li><a href="@Url.Action("custom","Home")" class="hvr-shadow-radial">Custom Meme</a></li>
                    </ul>
                </nav>
                <div class="main-bar openbtn">
                    <div class="a1"></div>
                    <div class="b1"></div>
                    <div class="c1"></div>
                </div>

            </div>
        </header>
        
        @*<canvas id="canvas">

        </canvas>*@
        <!-- sidebar---section -->
        <section id="mySidenav" class="sidenav">
            <div class="top-head">
                <h2> Meme Generator</h2>
                <a href="javascript:void(0)" class="closebtn">
                    <i class="fas fa-chevron-left"></i>
                    <!-- &times; -->
                </a>
            </div>
            <div class="side-item">
                <a href="@Url.Action("Index","Home")">meme templates</a>
                <a href="@Url.Action("Index","Home")">categories</a>
                <a href="@Url.Action("custom","Home")">custom</a>
                @*<a href="@Url.Action("meme","Home")">open editor</a>*@
                @*<a href="#">log in</a>*@
                <a href="@Url.Action("PrivacyPolicy","Home")">Privacy Policy</a>
                <a href="@Url.Action("About","Home")" class="side_hide">about</a>
                @*<a href="@Url.Action("Contact","Home")" class="side_hide">contact us</a>*@
            </div>
        </section>
        <!-- sidebar----section---end-here -->
        <section class="middle_content">
            <div class="container">
                <div class="gallery grid-container">
                    <!-- head-line -->
                    <div class="head_line_wrp">
                        <h2>choose templates</h2>
                        <!--<ul class="unorder">
                            <li class="li1 li_cmn" onclick="openSubList1('Sub_List1')">All</li>-->
                            
                                @*<li>
                                    <a href="@Url.Action("custom","Home")"></a>
                                </li>*@
                            @*<li class="li2 li_cmn List_active" onclick="getCustom()">custom</li>
                           
                            <li class="li3 li_cmn" onclick="openSubList1('Sub_List3')">New</li>*@
                        <!--</ul>-->
                    </div>

                    @*<input type="file" name="uploadfile">
                    <button type="submit">Upload</button>*@


                    <!-- head-line-end---her -->
                    <!-- js render -->
                    <!-- image--grid1---1-->
                <div class="main-grid" id="Sub_List1" style="">
                    
                        <div class="mid-grid mid_1st wow fadeIn" style="visibility: visible;">
                            <div class="item-wrp item-wrp0" data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-out-cubic">
                                <figure>
                                    @*<img src="~/img/gallery/alina.png" alt="">*@
                                    @if (!string.IsNullOrEmpty(ViewBag.ImageUrl))
                                    {
                                        <img src="@ViewBag.ImageUrl" />
                                    }
                                    else
                                    {
                                        <img id="previewImage" src="~/image/placeholder.png" />
                                    }
                                </figure>
                                <input type="file" style="display:none" name="uploadfile" id="hiddenFileUpload">
                                
                                <figcaption>
                                   <a href="@Url.Action("Index","Home")">Meme Generator</a>
                                </figcaption>
                            </div>
                            @foreach (File_Model element in Model.list)
                            {

                                <div class="item-wrp item-wrp1">
                                    <figure id="img-@element.fileid" onclick="location.href = '@Url.Action("meme" ,"Home" ,new { FileName=element.fileName } )'">
                                        <img src="@element.filepath"  id="picture" height="100" width="150" />
                                        @*<a href="@Url.Action("meme", "Home")">meme Generate</a>*@
                                    </figure>
                                    <figcaption>
                                        @*<a href="meme.html" class="meme_btn hvr-bounce-to-right">meme Generate</a>*@

                                        <a href="@Url.Action("meme", "Home" ,new { FileName=element.fileName})" class="meme_btn hvr-bounce-to-right">@element.fileName.Replace('-' ,' ')</a>
                                        @*<a href="#"></a>*@
                                    </figcaption>
                                </div>
                            }
                         

                           
                            @*<figure>
                    <img src="~/img/gallery/alina.png" alt="">
                </figure>
                <figcaption>
                    <a href="meme.html" class="meme_btn hvr-bounce-to-right">meme Generate</a>
                </figcaption>*@
                        </div>
                        @*<div class="item-wrp item-wrp5" data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="ease-out-cubic">

                <figure>
                    <img src="~/img/gallery/success.jpg" alt="">
                </figure>
                <figcaption>
                    <a href="meme.html" class="meme_btn hvr-bounce-to-right">meme Generate</a>
                </figcaption>
            </div>
            <div class="item-wrp item-wrp6" data-aos="zoom-in" data-aos-duration="1100" data-aos-easing="ease-out-cubic">

                <figure>
                    <img src="~/img/gallery/success.jpg" alt="">
                </figure>
                <figcaption>
                    <a href="meme.html" class="meme_btn hvr-bounce-to-right">meme Generate</a>
                </figcaption>
            </div>
            <div class="item-wrp item-wrp7" data-aos="zoom-in" data-aos-duration="1100" data-aos-easing="ease-out-cubic">
                <figure>
                    <img src="~/img/gallery/Batman-Slapping-Robin.jpg" alt="">
                </figure>
                <figcaption>
                    <a href="meme.html" class="meme_btn hvr-bounce-to-right">meme Generate</a>
                </figcaption>
            </div>*@
                    </div>
                </div>
                
                <!-- end---here -->
                <!-- image--grid2---2-->
                <!--<div class="main-grid" id="Sub_List2">
                    <div class="mid-grid mid_2nd wow fadeIn" style="visibility: visible;">
                        <div class="item-wrp item-wrp1" data-aos="zoom-in" data-aos-duration="1100" data-aos-easing="ease-out-cubic">
                            <figure>-->
                                @*<a href="@Url.Action("New","Home")">*@
                                @*<img id="1000" src="~/img/gallery/Mocking-Spongebob.jpg" alt="">*@
                                @*</a>*@
                            <!--</figure>
                            <figcaption>-->
                                @*<a href="@Url.Action("meme" ,"Home" ,new { id=1000 } )">meme Generate</a>*@
                            <!--</figcaption>
                        </div>-->
                        @*@foreach (File_Model element in Model.list)
                        {*@

                    <!--<div class="item-wrp item-wrp2" data-aos="zoom-in" data-aos-duration="1200" data-aos-easing="ease-out-cubic">-->
                        @*<figure id="img-@element.fileid" onclick="location.href = '@Url.Action("meme" ,"Home" ,new { id=element.fileid } )'">
                            <img src="@element.filepath" height="100" width="150" />
                            </figure>*@

                            <!--<figure>-->
                                @* <img src="~/img/gallery/alina.png" alt="">*@
                            <!--</figure>
                            <figcaption>-->
                                @*<a href="@Url.Action("meme", "Home" ,new { id=element.fileid})" class="meme_btn hvr-bounce-to-right">meme Generate</a>*@
                            <!--</figcaption>
                    </div>
                            <div class="item-wrp item-wrp3" data-aos="zoom-in" data-aos-duration="1300" data-aos-easing="ease-out-cubic">
                                <figure>-->
                                    @* <img src="~/img/gallery/Batman-Slapping-Robin.jpg" alt="">*@
                                <!--</figure>
                                <figcaption>
                                    <a href="meme.html" class="meme_btn hvr-bounce-to-right">meme Generate</a>
                                </figcaption>
                            </div>
                            <div class="item-wrp item-wrp4" data-aos="zoom-in" data-aos-duration="1400" data-aos-easing="ease-out-cubic">

                                <figure>-->
                                    @*<img src="~/img/gallery/alina.png" alt="">*@
                                <!--</figure>
                                <figcaption>
                                    <a href="meme.html" class="meme_btn hvr-bounce-to-right">meme Generate</a>
                                </figcaption>
                            </div>
                            <div class="item-wrp item-wrp5" data-aos="zoom-in" data-aos-duration="1500" data-aos-easing="ease-out-cubic">

                                <figure>-->
                                    @* <img src="~/img/gallery/success.jpg" alt="">*@
                                <!--</figure>
                                <figcaption>
                                    <a href="meme.html" class="meme_btn hvr-bounce-to-right">meme Generate</a>
                                </figcaption>
                            </div>
                        </div>
                </div>-->
                <!-- end---here -->
                <!-- image--grid3---3-->
                @*<div class="main-grid" id="Sub_List3" style="display: none;">
                    <div class="mid-grid mid_2nd wow fadeIn" style="visibility: visible;">
                        <div class="item-wrp item-wrp1" data-aos="zoom-in" data-aos-duration="1100" data-aos-easing="ease-out-cubic">
                            <figure>
                                <img src="~/img/gallery/X-Everywhere.jpg" alt="">
                            </figure>
                            <figcaption>
                                <a href="meme.html" class="meme_btn hvr-bounce-to-right">Meme Generate</a>
                            </figcaption>
                        </div>
                        <div class="item-wrp item-wrp2" data-aos="zoom-in" data-aos-duration="1200" data-aos-easing="ease-out-cubic">

                            <figure>
                                <img src="~/img/gallery/One-Does-Not-Simply.jpg" alt="">
                            </figure>
                            <figcaption>
                                <a href="meme.html" class="meme_btn hvr-bounce-to-right">Meme Generate</a>
                            </figcaption>
                        </div>
                        <div class="item-wrp item-wrp3" data-aos="zoom-in" data-aos-duration="1300" data-aos-easing="ease-out-cubic">
                            <figure>
                                <img src="~/img/gallery/Batman-Slapping-Robin.jpg" alt="">
                            </figure>
                            <figcaption>
                                <a href="meme.html" class="meme_btn hvr-bounce-to-right">Meme Generate</a>
                            </figcaption>
                        </div>
                        <div class="item-wrp item-wrp4" data-aos="zoom-in" data-aos-duration="1400" data-aos-easing="ease-out-cubic">

                            <figure>
                                <img src="~/img/gallery/alina.png" alt="">
                            </figure>
                            <figcaption>
                                <a href="meme.html" class="meme_btn hvr-bounce-to-right">Meme Generate</a>
                            </figcaption>
                        </div>
                        <div class="item-wrp item-wrp5" data-aos="zoom-in" data-aos-duration="1500" data-aos-easing="ease-out-cubic">

                            <figure>
                                <img src="~/img/gallery/success.jpg" alt="">
                            </figure>
                            <figcaption>
                                <a href="meme.html" class="meme_btn hvr-bounce-to-right">Meme Generate</a>
                            </figcaption>
                        </div>
                    </div>
                </div>*@
                <!-- end---here -->
                

            </div>
            <div class="main_containt">
                <div class="container">
                    <div class="privacy">
                        <h2>
                            <a href="http://memes-generator.net/">
                                Meme Generator
                            </a>
                           
                        </h2>
                        <p>
                            An internet meme which is also known as Memes is spread throughout the world through the internet.
                            Often these internet mediums are social media platforms like Instagram, Facebook, and Twitter.
                            These memes are images of certain movies or videos that have a funny reaction and to them, some context
                            is added to create a preferred situation. This is done through Meme Generator. You can generate
                            different-different types of a meme from our meme generator by just uploading the image you want to
                            convert it into a meme and then adding the text of your choice to give the image a context and turn it
                            into a funny meme. 

                        </p>
                        <p>
                            To make the process easier and your visit to our meme generator
                            website a pleasant one, we have already uploaded some pre context images from which you
                            can choose from. And give the image a context from your imagination to make it funny. 

                        </p>
                        <p>
                            If you are looking for a <b>cat meme generator</b> then you have come to the right place
                            We have uploaded tons of pre context cat images from which you can choose and give them a
                            context of your own and make some amazing memes. Then you can download them on your devices, be
                            it a mobile phone, desktop, laptop, or tablet. And from there you can upload these memes on your various
                            social media platforms. The most famous cat meme is this twofold picture response image which is a 2019
                            moment exemplary. On the left, a light lady shouts and focuses, completely in tears. On the right, a
                            white feline looks disappointed and wary. Extraordinary indignation and utter disarray. Utilize this
                            image layout at whatever point you need to communicate somebody's unnecessary temper. Add names over
                            every one of the sheets in this image arrangement.
                            We have also uploaded images of SpongeBob images which users can use in our meme generator as
                           <b>Spongebob meme generator</b>. Creating these memes is very easy as images are pre-loaded so don’t need
                            to search for images. You should simply choose the pictures from the presetting pictures that are
                            accessible on the image generator and afterward add your setting to it by entering the setting that
                            you need to include the picture to the setting viper that is accessible. At the point when you see a
                            meme that is dying now as in it is no more the trend. You can use that meme image and put it in
                            SpongeBob's' Ok get in' image, and you will have a new funny meme. Most likely you can consider
                            something or perhaps somebody who got mocked and the image of the person who mocked him on the
                            face of SpongeBob. In this image from SpongeBob, SpongeBob and Patrick are remaining close to an
                            open casket, and he states "Ok Get In." Or you can add a custom subtitle, names, or picture in the final
                            resting place to finish the meme. 


                        </p>
                        <p>
                            There are tons of <b>blank meme generator</b> templates available on our meme generator.
                            You can use these meme templates to create different memes with your imagination and then you
                            can share them with your friends and family through your various social media platforms.
                            One of the latest trending memes is the change my mind meme, so bring you to <b>change my mind meme generator</b>.
                            You can utilize this image layout of Steven Crowder's change my mind sign at a campus to make custom
                            image memes. In addition to that, you can add your content or picture on his canvas with
                            the "Change My Mind" context under it on the standard. What dubious assessment do you have about
                            the world that will get individuals started up? Try adding some ridiculous inscription on the
                            sign to get individuals talking. 


                        </p>
                        <p>
                        This is one of the latest trending memes, and to be frank, this meme can always be used, you
                        just need to find creative context for it. You can also use our <b>drake meme generator</b> using which
                        you can make a meme with the help of the pre context drake images of his most famous meme of
                        drake doesn’t like and drake likes images.
                            </p>

                        <h2>
                            Meme text generator
                        </h2>
                        <p>
                            A meme text generator is a tool using which you can add text or subtitles to images and videos.
                            It is one of the web's best meme tools for adding captions to your images and videos with no watermark.
                            Research has shown that captioned recordings via online media get fundamentally higher commitment than
                            recordings without captions. This editor permits you to burn the captions into the video straightforwardly 
                            so the captions won't be lost regardless of what stage the video gets shared to
                        </p>
                        <p>
                            The text generator also allows the creators to time out subtitles to the video.
                            Even for very short or choppy dialogues, we have got your back with making your video and image 
                            memes more accessible in the world
                        </p>
                        <p>
                            You can also use the <b>‘it’s free real estate meme generator’</b>. This image format is for portraying 
                            circumstances in which something is easy pickings, or when someone utilizes something all in all too
                            regularly. The "it’s free real estate" could be quite a few things – a style, a triumph, an expression,
                            conduct. This image producer itself is free land – exploit!
                        </p>
                        <p>
                            We additionally have probably the greatest assortment of current meme
                            layouts that you can use for free. Furthermore, we're continually adding new layouts to our assortment
                            which depend on entries from some of the absolute best meme producers on the web. Feel free to through
                            our assortment of meme images, GIFs, PNGs, and recordings to locate the ideal image for your meme or to
                            get motivation. And at that point, you can simply include your inscription, and afterward, you are all
                            set to offer your astonishing images to the world. Furthermore, that is the reason behind why this is a 
                            standout amongst other <b>free meme generators</b> out there
                        </p>
                        <p>
                            We welcome you to a powerful solution for all your meme needs, which is easy enough for anyone to use.
                            Meme generator supports almost all images, GIF, and video files including the mp4 ones, gif, jpg, png, avi, and more.
                            It is all exists inside the browser which is supported by all the Operating systems like
                            macOS, Windows, Android, iOS, and Linux. Therefore, there are no necessary downloads to make it work,which 
                            means you can instantly start making memes. Instead of a meme generator app, you should use a 
                            memes generator using your browsers on your phone or computer to create memes from anywhere, this will 
                            also help you free some space from your devices. And that is why this is the <b>best free meme generator</b>.

                        </p>
                        <p>
                            Anyone can use memes generator from students, small businesses, professionals, and even 
                            casual content creators as well. Use this <b>free pc check meme generator</b> to make memes and then 
                            share your amazing content with the world. Here at Memes generator, you are in good hands. 

                        </p>
                        <h2>
                            Meme text generator
                        </h2>
                        <p>
                            It's a free online meme maker that allows you to add custom subtitles and captions to images.
                            It gives you the flexibility to work on HTML5 canvas so that your memes are made speedily on your
                            contraption. Typically individuals utilize the generator to add text inscriptions to set up pictures.
                            Regardless, you can also add your photographs as arrangements to make a meme. Furthermore, we provide
                            you with a wide variety of meme images to help to make your new memes from your own creative mind by 
                            just choosing a picture from our collection and adding your captions or subtitles to it.

                        </p>
                        <p>
                            You can also use our <b>Spongebob mocking meme text generator</b> to make memes using images
                            and videos from SpongeBob. SpongeBob Squarepants is an image legend and in this picture, he
                            twists his body to appear as though a chicken while deriding the exact opposite thing somebody said.
                            Utilize this image when you need to violently ridicule something that you or another person has attempted 
                            to state. SpongeBob’s joke is additionally emphasized by the blend of upper and lowercase letters in the
                            subtitle. Supplement your own content over the picture to make a Mocking SpongeBob Meme.

                        </p>
                        <p>
                            You can use our <b>distorted text meme generator</b> to make text memes. 
                            This tool will help you to distort the text with just one click. In order to do so, all you 
                            need to do is to select the text you want to distort and click on the generate button and your 
                            text will be distorted and now you can use it in your memes. 

                        </p>
                        <p>
                            You can use many other SpongeBob templates from our collection and make various types of amazing
                            and funny Spongebob memes just by adding text to the templates using the <b>Spongebob meme text generator</b>.
                            For example, you can choose the Spongebob burns a paper template in which Spongebob is reading a bit of
                            paper, after considering the big picture, he chooses to consume the paper in a colossal fire with no lament.
                            What did the paper say? Utilize this free image creator to embed your own custom inscription or picture onto
                            the paper that speaks to something you need to consume to debris in fire like Spongebob.


                        </p>
                        <p>
                            A memes generator is a great way to make memes easily and rapidly. As there are tons of templates
                            available, all you need to do is to select the image on which you want to make a meme on and then you
                            can add text to it using the <b>text meme generator</b> tool and your meme will be ready to be shared with the world.  
                        </p>
                    </div>
                    </div>
                </div>

</section>


        <!-- footer -->
        <footer>
            <div class="container">
                <div class="copy-right-wrapper">
                    <p>memes-generator.net  © All Rights Reserved</p>
                </div>
            </div>
        </footer>
    </main>

    <!-- <div class="svg_wrapper">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,128L1440,0L1440,320L0,320Z"></path></svg>
    </div> -->
    <!-- -script--section -->
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/images.js"></script>
    <script src="~/Scripts/js/meme.js"></script>
    <script src="~/Scripts/js/main.js"></script>
    <script src="~/Scripts/js/wow.min.js"></script>
    <script src="~/Scripts/js/aos.js"></script>
    <script>
        new WOW().init();
    </script>
    <script>
        AOS.init();
    </script>

    <script>
        $('#previewImage').on('click', function () {
            $('#hiddenFileUpload').trigger('click')
        // window.location.href = "@Url.Action("Index", "Upload")";
        });

        //$('#hiddenFileUpload').change ( function (e) {
        //    debugger
           
        //    //img.src ="../image/placeholder.png"
           
        //});

        function draw() {
            var canvas = document.getElementById('canvas');
            canvas.width = this.width;
            canvas.height = this.height;
            var ctx = canvas.getContext('2d');
            ctx.drawImage(this, 0, 0);
        }
        function failed() {
            console.error("The provided file couldn't be loaded as an Image media");
        }
        $('#hiddenFileUpload').on('change', function (event) {
            debugger
            var img = new Image();
            img.onload = draw;
            img.onerror = failed;
            debugger
            img.src = URL.createObjectURL(this.files[0]);
            var files = event.currentTarget;
            var formData = new FormData();
            formData.append('uploadfile', files.files[0]);
            $.ajax({
                url:'@Url.Action("Index" , "Upload")',
                method: 'post',
                contentType: false,
                processData: false,
                dataType:'json',
                async: true,
                data: formData,
                success: function (data) {
                    debugger
                    $('#previewImage').attr('src' ,data);
                },
                complete: function () {
                //    alert("yes");

                    location.href = '@Url.Action("Index","Home")'
                },
                error: function (error) {

                }
            });

        })

        @*$('#customupload').on('change', function (event) {
            var files = event.currentTarget;
            var formData = new formData();
            formData.append('uploadfile', files.files[0]);
            $.ajax({
                url: '@Url.Action("Index" ,"Upload")',
                method: 'post',
                contentType: false,
                processData: false,
                async: true,
                data: formData,
                sucess: function (data) {
                    $('#customupload').attr('src', data);
                },
                error: function (error) {

                }
            });
        })*@

        function getCustom()
        {
            location.href = '@Url.Action("custom", "Home")';
        }
    </script>

</body>

</html>


@ViewBag.Message
