@{
    ViewBag.Title = "Home Page";
}
@using MemeGenerator.Models
@model MemeGenerator.Models.File_list


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meme Generator</title>
    <script defer src="~/fonts/fontawesome-all.js"></script>
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/fonts/stylesheet.css">
    <link rel="stylesheet" href="~/Content/css/Hover-master/css/hover-min.css">
</head>
<body>
    <main>
        <header>
            <div class="container">
                <nav>
                    <div class="logo item1">
                        <a href="index.html">
                            <!-- <img src="" alt=""> -->
                            <h1>Meme Generator</h1>
                        </a>
                    </div>
                    <ul class="nav_item item2">
                        <li><a href="#" class="hvr-shadow-radial">Home</a></li>
                        <li><a href="about.html" class="hvr-shadow-radial">About</a></li>
                        <li><a href="contact.html" class="hvr-shadow-radial">contact us</a></li>
                    </ul>
                </nav>
                <div class="main-bar" class="openbtn">
                    <div class="a1"></div>
                    <div class="b1"></div>
                    <div class="c1"></div>
                </div>

            </div>
        </header>
        <!-- sidebar---section -->
        <section id="mySidenav" class="sidenav">
            <div class="top-head">
                <h2> Meme Generator</h2>
                <a href="javascript:void(0)" class="closebtn">
                    <i class="fas fa-chevron-left"></i>
                    <!-- &times; -->
                </a>
            </div>
            <div class="side-item">
                <a href="#">meme templates</a>
                <a href="#">categories</a>
                <a href="#" onclick="initMemeEditor(1,this)">open editor</a>
                <a href="#">log in</a>
            </div>
        </section>
        <!-- sidebar----section---end-here -->
        <section class="middle_content">
            <div class="container">
                <div class="gallery grid-container">
                    <!-- head-line -->
                    <div class="head_line_wrp">
                        <h2>choose templates</h2>
                        <ul class="unorder">
                            <li class="li1 li_cmn" onclick="openSubList1('Sub_List1')">All</li>
                            <li class="li2 li_cmn List_active" onclick="openSubList1('Sub_List2')">custom</li>
                            <li class="li3 li_cmn" onclick="openSubList1('Sub_List3')">New</li>
                        </ul>
                    </div>

                    @*<input type="file" name="uploadfile">
                        <button type="submit">Upload</button>*@


                    <!-- head-line-end---her -->
                    <!-- js render -->
                    <!-- image--grid1---1-->
                    <div class="main-grid" id="Sub_List1" style="display: none;">
                        <div class="mid-grid mid_1st">
                            <div class="item-wrp item-wrp0" id="chooseImage">
                                <figure>
                                    @*<img src="~/img/gallery/alina.png" alt="">*@
                                    @if (!string.IsNullOrEmpty(ViewBag.ImageUrl))
                                    {
                                        <img src="@ViewBag.ImageUrl" />
                                    }
                                    else
                                    {
                                        <img id="previewImage" src="~/image/placeholder.png" />
                                    }
                                </figure>
                                <input type="file" style="display:none" name="uploadfile" id="hiddenFileUpload">
                                <figcaption>
                                    <a href="@Url.Action("meme", "Home")">meme Generate</a>
                                </figcaption>
                            </div>
                            @foreach (File_Model element in Model.list)
                            {
                  
                                <div class="item-wrp item-wrp1">
                                    <figure  id="img-@element.fileid" onclick="location.href = '@Url.Action("meme" ,"Home" ,new { id=element.fileid } )'">
                                        <img src="@element.filepath"  height="100" width="150" />
                                    </figure>
                                    <figcaption>
                                        <a href="@Url.Action("meme", "Home")">meme Generate</a>
                                    </figcaption>
                                </div>
                            }

                        </div>
                    </div>
                    <!-- end---here -->
                    <!-- image--grid2---2-->
                    <div class="main-grid" id="Sub_List2">
                        <div class="mid-grid mid_2nd">
                            <div class="item-wrp item-wrp1">
                                <figure>
                                    @*<a href="@Url.Action("New","Home")">*@
                                    <img id="1000" src="~/img/gallery/Mocking-Spongebob.jpg" alt="">
                                    @*</a>*@
                                </figure>
                                <figcaption>
                                    @*<a href="@Url.Action("meme" ,"Home" ,new { id=1000 } )">meme Generate</a>*@
                                </figcaption>
                            </div>
                            <div class="item-wrp item-wrp2">

                                <figure>
                                    <img src="~/img/gallery/alina.png" alt="">
                                </figure>
                                <figcaption>
                                    <a href="meme.html">meme Generate</a>
                                </figcaption>
                            </div>
                            <div class="item-wrp item-wrp3">
                                <figure>
                                    <img src="~/img/gallery/Batman-Slapping-Robin.jpg" alt="">
                                </figure>
                                <figcaption>
                                    <a href="meme.html">meme Generate</a>
                                </figcaption>
                            </div>
                            <div class="item-wrp item-wrp4">

                                <figure>
                                    <img src="~/img/gallery/alina.png" alt="">
                                </figure>
                                <figcaption>
                                    <a href="meme.html">meme Generate</a>
                                </figcaption>
                            </div>
                            <div class="item-wrp item-wrp5">

                                <figure>
                                    <img src="~/img/gallery/success.jpg" alt="">
                                </figure>
                                <figcaption>
                                    <a href="meme.html">meme Generate</a>
                                </figcaption>
                            </div>
                        </div>
                    </div>
                    <!-- end---here -->
                    <!-- image--grid3---3-->
                    <div class="main-grid" id="Sub_List3" style="display: none;">
                        <div class="mid-grid mid_2nd">
                            <div class="item-wrp item-wrp1">
                                <figure>
                                    <img src="~/img/gallery/X-Everywhere.jpg" alt="">
                                </figure>
                                <figcaption>
                                    <a href="meme.html">meme Generate</a>
                                </figcaption>
                            </div>
                            <div class="item-wrp item-wrp2">

                                <figure>
                                    <img src="~/img/gallery/One-Does-Not-Simply.jpg" alt="">
                                </figure>
                                <figcaption>
                                    <a href="meme.html">meme Generate</a>
                                </figcaption>
                            </div>
                            <div class="item-wrp item-wrp3">
                                <figure>
                                    <img src="~/img/gallery/Batman-Slapping-Robin.jpg" alt="">
                                </figure>
                                <figcaption>
                                    <a href="meme.html">meme Generate</a>
                                </figcaption>
                            </div>
                            <div class="item-wrp item-wrp4">

                                <figure>
                                    <img src="~/img/gallery/alina.png" alt="">
                                </figure>
                                <figcaption>
                                    <a href="meme.html">meme Generate</a>
                                </figcaption>
                            </div>
                            <div class="item-wrp item-wrp5">

                                <figure>
                                    <img src="~/img/gallery/success.jpg" alt="">
                                </figure>
                                <figcaption>
                                    <a href="meme.html">meme Generate</a>
                                </figcaption>
                            </div>
                        </div>
                    </div>
                    <!-- end---here -->
                </div>

            </div>
        </section>


        <!-- footer -->
        <footer>
            <div class="container">
                <div class="copy-right-wrapper">
                    <p>2020 meme Generator.com © All Rights Reserved</p>
                </div>
            </div>
        </footer>
    </main>

    <!-- <div class="svg_wrapper">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,128L1440,0L1440,320L0,320Z"></path></svg>
    </div> -->
    <!-- -script--section -->
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/images.js"></script>
    <script src="~/Scripts/js/meme.js"></script>
    <script src="~/Scripts/js/main.js"></script>
    <script src="~/Scripts/js/aos.js"></script>

    <script>
        $('#chooseImage').on('click', function () {
            $('#hiddenFileUpload').trigger('click')
        });

        $('#hiddenFileUpload').on('change', function (event) {
            debugger
            var files = event.currentTarget;
            var formData = new FormData();
            formData.append('uploadfile', files.files[0]);
            $.ajax({
                url:'@Url.Action("Index" , "Upload")',
                method: 'post',
                contentType: false,
                processData: false,
                async: true,
                data: formData,
                success: function (data) {
                    $('#previewImage').attr('src' ,data);
                },
                error: function (error) {

                }
            });
           
        })


    </script>
    
</body>

</html>


@ViewBag.Message
