
@{
    ViewBag.Title = "View_DescriptionEditor";
}
@using MemeGenerator.Models
@model MemeGenerator.Models.File_Model

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Memes-generator.net is the first online meme generator. Browse the most popular memes on the internet, create your own meme or caption your favorite character. Export your meme directly as JPG or MP4. Fast, online, and powerful, Generator lets you make memes perfectly, every time." />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meme Generator - Meme Creator - Make a Meme Online</title>
    <link rel="icon" href="\image\Logo MG 3.png">
    <script defer src="~/fonts/fontawesome-all.js"></script>
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/fonts/stylesheet.css">
    <link rel="stylesheet" href="~/Content/css/Hover-master/css/hover-min.css">
    <link href="~/Content/css/aos.css" rel="stylesheet" />
    <link href="~/Content/css/animate.css" rel="stylesheet" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>
<body>
    <main class="wow fadeIn" style="visibility: visible;">
        <header>
            <div class="container">
                <nav>
                    <div class="logo item1">
                        <a href="@Url.Action("Index","Home")">
                            <!-- <img src="" alt=""> -->
                            <h1>Meme Generator</h1>
                        </a>
                    </div>
                    @*<ul class="nav_item item2">
                        <li><a href="@Url.Action("Index","Home")" class="hvr-shadow-radial">Home</a></li>
                        <li><a href="@Url.Action("About","Home")" class="hvr-shadow-radial">About</a></li>
                        <li><a href="@Url.Action("custom","Home")" class="hvr-shadow-radial">Custom Meme</a></li>
                        <li><a href="@Url.Action("Admin","Home")" class="hvr-shadow-radial">Admin</a></li>
                    </ul>*@
                </nav>
                @*<div class="main-bar openbtn">
                    <div class="a1"></div>
                    <div class="b1"></div>
                    <div class="c1"></div>
                </div>*@

            </div>

        </header>

        @*<div class="item-wrp item-wrp0" data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-out-cubic">
            <figure>

                @if (!string.IsNullOrEmpty(ViewBag.ImageUrl))
                {
                    <img src="@ViewBag.ImageUrl" />
                }
                else
                {
                    <img id="previewImage" src="~/image/placeholder.png" />
                }
            </figure>
        <div>
            <input type="file" style="display:none" name="uploadfile" id="hiddenFileUpload">

            <figcaption>
                <a href="@Url.Action("Index","Home")">Meme Generator</a>
            </figcaption>
        </div>*@



        <input type="hidden" id="hiddenfileid" value="@Model.fileid" />
        <br />

        <input type="hidden" id="hiddenattachmentcode" value="@Model.attachmentcode" />
        <br />

        <img src="@Model.filepath" id="imagefile" height="100" width="100" />
        <br />

        <input type="text" id="fileName" value="@Model.fileName" />
        <br />
        <div class="Editor-content">
            <div class="item1 item-cmn1">
                <h2>Post Name</h2>
                <textarea name="" id="postname" cols="30" rows="10" placeholder="Post Name">@Model.PostName</textarea>
            </div>
            <div class="item1 item-cmn">
                <h2>Meta Title</h2>
                <textarea name="" id="metatitle" cols="30" rows="10" placeholder="Meta titile here">@Model.SeoTitle</textarea>
            </div>

            <div class="item2 item-cmn">
                <h2>Meta Description</h2>
                <textarea name="" id="metadescription" cols="30" rows="10" placeholder="Meta Description here">@Model.SeoDescription</textarea>
            </div>

            <div class="item2 item-cmn2">
                <h2>slug</h2>
                <textarea name="" id="slugtext" cols="30" rows="10" placeholder="slug Here">@Model.SeoSlug</textarea>
            </div>

            <div class="item2 item-cmn1">
                <textarea name="" id="editor" cols="30" rows="10" placeholder="" style="">@Model.Description</textarea>
                <button id="submitt" onclick="submitPage()"> submitt</button>

            </div>
        </div>

        <script>
    $('#editor').ckeditor();
    $(document).ready(function () {

    });

            var submitPage = event => {
                var postObject = {};
                postObject.Description = CKEDITOR.instances["editor"].getData();
                //var textarea = document.getElementById("editor");
                //postObject.editor = textarea.value
                var fileidtext = document.getElementById("hiddenfileid");
                postObject.fileid = fileidtext.value;
                var fileattachment = document.getElementById("hiddenattachmentcode");
                postObject.attachmentcode = fileattachment.value;
                var imagesfile = document.getElementById("imagefile");
                postObject.filepath = imagesfile.attributes.src.value;
                var filename = document.getElementById("fileName");
                postObject.fileName = filename.value;

                var postnametext = document.getElementById("postname");
                postObject.PostName = postnametext.value;

                var posttitle = document.getElementById("metatitle");
                postObject.SeoTitle = posttitle.value;

                var postdescription = document.getElementById("metadescription");
                postObject.SeoDescription = postdescription.value;

                var postslug = document.getElementById("slugtext");
                postObject.SeoSlug = postslug.value;


                var jStr = JSON.stringify(postObject);

                debugger;

                $.ajax({
                    url: '@Url.Action("EditDescription", "Home")',
                    method: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    async: true,
                    data: jStr,
                    success: data => {
                        swal("Good job!", "You clicked the button!", "success").then((value) => {
                            location.href = "@Url.Action("AdminEditor","Home")";
                        });
                            
                    },
                    error: error => {

                    }

                });
            }



        </script>
        @*@if (ViewBag.status == "Success")
        {
           

            <script>
                debugger
                swal("Your data has been submitted Successfully").then(value => {
                    const stateobj = { escape: 'adduser' };
                    history.pushState(stateObj, '', "@Url.Action("Index","Home")");
                    location.href = "@Url.Action("Index","Home")";
                });
                

            </script>*@
    
</body>
</html>

